body{
    background: white;
}

.header{
    background: blue;
    color: white;
    padding: 1%;
    margin-bottom: 2%;
    text-align: center;
}

.login{
    float: right;
    margin-bottom: 2%;
    margin-left: -20%;
    padding: 0.5%;
}

.card-Pixar,
.card-NG,
.card-Marvel,
.card-Disney,
.card-SW{
    width: 18%;
    text-align: center;
    border-color: black;
    border-style: inset;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    float: left;
}

.card-NG > img,
.card-SW > img,
.card-Pixar > img,
.card-Marvel > img,
.card-Disney > img{
    height: 15rem;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    height: 2rem;
    color: blue;
    margin-top: 31%;
    border-color: blue;
    border-style: inset;
}
.social-media{
    align: center;
}