# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\villa\OneDrive - Universidad Pontificia Comillas\ICAI\TERCERO\2º CUATRIMESTRE\Programación de aplicaciones telemáticas\PRÁCTICAS\.idea/dataSources/
/dataSources.local.xml
